.button{
    -fx-background-color:   #495057;
    -fx-background-radius:  0em;
}

.button:hover{
    -fx-background-color:   #6C757D;
}

.button:pressed{
    -fx-background-color:   #5A6168;
}

.button:focused{
    -fx-background-color:   #5A6168;
    -fx-border-color:       #F8F9FA;
    -fx-border-width:       0px 0px 0px 3px;
}